$base-width: 16vw;
$base-width-new: 120px;

body {
  background-color: #2BA6F6 !important;
}

table {
  border-collapse: collapse;
  width: fit-content !important;
  margin: 0px auto;

  tr {
    display: table-cell;
  }

  tr td {
    display: block;
    height: calc($base-width + 1vw);
    padding: 0 !important;
    width: calc($base-width + 2px);
    background-color: #5DD780 !important;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  th {
    border-bottom: 2px solid !important;
    width: $base-width;
    background-color: #5DD780 !important;
  }
}

.main-table {
  border-collapse: collapse;
  width: fit-content !important;
  margin: 0px auto;

  .table-column {
    display: table-cell;
    //padding: 0 calc($base-width-new/2);
    padding: 12px 0 25px;

    &:first-child .line-container:first-child{
      display: none;
    }

    &:last-child .line-container:last-child{
      display: none;
    }
  }

  .table-column .table-cell {
    display: flex;
    height: $base-width-new;
    padding: 0 !important;
    //margin-bottom: 16px;

    img {
      max-height: 100%;
      max-width: 100%;
      padding: 5px 0;
    }

    &:nth-child(2) .line-container {
      &:first-child .line-container-top {
        border-left: none !important;
      }

      &:last-child .line-container-top {
        border-right: none !important;
      }
    }

    &:last-child .line-container {
      &:first-child .line-container-bottom {
        border-left: none !important;
      }

      &:last-child .line-container-bottom {
        border-right: none !important;
      }
    }
  }

  .column-name {
    //border-bottom: 2px solid !important;
    width: $base-width-new;
    line-height: 0;
    margin-bottom: 12px;
  }

  .image-container{
    .close-btn{
      top: 0;
    }
  }

  .line-container {
    height: $base-width-new;
    width: calc($base-width-new / 3);

    .line-container-top {
      border-bottom: 1px solid !important;
      height: calc($base-width-new / 2);
      width: calc($base-width-new / 3);
    }

    .line-container-bottom {
      border-top: 1px solid !important;
      height: calc($base-width-new / 2);
      width: calc($base-width-new / 3);
    }

    &:first-child{
      .line-container-top, .line-container-bottom {
        border-left: 1px solid !important;
      }
    }

    &:last-child{
      .line-container-top, .line-container-bottom {
        border-right: 1px solid !important;
      }
    }
  }
}

.search-autocomplete-bar {
  width: 50%;
}

.image-container {
  position: relative;

  .close-btn{
    position: absolute;
    font-size: 20px;
    top: 1vw;
    right: 4px;
    display: none;
  }

  &:hover .close-btn {
    display: block;
  }
}

.wrapper {
  z-index: 1 !important;
}

.nametag {
  background-color: green;

  p {
    margin: 0;
    font-size: 0.9vw;
    line-height: 1vw;
  }
}

.autocomplete-container {
  margin: 8px auto 16px;
  width: 50%;
  max-width: 480px;
}

.line-table-column{
  display: table-cell;
  width: calc($base-width-new / 3);

  .line-table-element{
    height: 50%;
  }
}

//
.line-table-column { 
  position: relative;
}

  .line-table-column:before { 
    content: '';
    width: calc($base-width-new / 3);
  position: absolute;
  border-bottom: 2px solid;
  z-index:0;
  }
//

.line-table-column-0:before{
  display: var(--display0);
  top: var(--value0);
}

.line-table-column-1:before{
  display: var(--display1);
  top: var(--value1);
}

.line-table-column-2:before{
  display: var(--display2);
  top: var(--value2);
}

.line-table-column-3:before{
  display: var(--display3);
  top: var(--value3);
}

.line-table-column-4:before{
  display: var(--display4);
  top: var(--value4);
}

.line-container-0 {
  display: var(--display0);
}

.line-container-1 {
  display: var(--display1);
}

.line-container-2 {
  display: var(--display2);
}

.line-container-3 {
  display: var(--display3);
}

.line-container-4 {
  display: var(--display4);
}